<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>Particleground demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/styles/style.css" | prepend: site.baseurl }}" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- remember, jQuery is completely optional -->
    <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
        <!-- jQuery.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <script type='text/javascript' src="{{ "/assets/scripts/jquery-particleground.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/scripts/demo.js" | prepend: site.baseurl }}" defer="defer"></script>

</head>

<body>

        <!-- <div id="particles">
                <div id="intro">
                  <h1>Particleground</h1>
                  <p>A JavaScript plugin for snazzy background particle systems</p>
                  <a href="https://github.com/jnicol/particleground/archive/master.zip" class="btn">Download</a>
                </div>
              </div> -->

              <div class="wrapper">
                  <h1>Hello World</h1>
              </div>

</body>

</html>